In [4]:
import pandas as pd
data = pd.read_csv('CupIT_Sber_data.csv', sep=';')
def add_date_time_columns(df, date_column):
    # Преобразуем колонку в datetime, если она еще не в этом формате
    df[date_column] = pd.to_datetime(df[date_column])

    # Создаем новые колонки
    df['year'] = df[date_column].dt.year  # Год
    df['month'] = df[date_column].dt.month  # Месяц
    df['date'] = df[date_column].dt.date  # Дата (год, месяц, день)
    df['time'] = df[date_column].dt.time  # Время (часы, минуты, секунды)

    return df
data = add_date_time_columns(data, 'service_date')
data['service_amount_net'] = data['service_amount_net'].str.replace(',', '.', regex=False)
data.head

<bound method NDFrame.head of                         service_document_id  \
0        0xE3A4BED668151E271B6680FE5E8772D6
1        0xD1DD45B19A9195143BE217BD83702901
2        0xAB000FD6D4A66E6E1523907DEBFEC85D
3        0x53A548619940E6DF7D910D17905D1CFD
4        0x1FDDAF54CB064A6E27519F2B6DF97B0E
...                                     ...
1091038  0xAF0854F4B12F33F7E708D054EA4C4E39
1091039  0x4B41C55DDC997B70CC37F7BC037BE0FF
1091040  0x65AC689ED66DADBE72A979C6C5971666
1091041  0xD5DD4B29D93C2871463BC635FD574355
1091042  0xB7BD55A988EBA0E946C56A8DCA2BA423

                        account_document_id        service_date  \
0        0xFDD38318ED6FC6EC68131DB6671F100C 2022-01-01 12:07:00
1        0x9F7486A2D5FEFFF7453777B1D0592E16 2022-01-01 12:17:00
2        0x72CBB210256CBF07F48DCACFDA4A3E4C 2022-01-01 12:30:00
3        0x34082776539FC71066087BA9EB78986D 2022-01-01 12:33:00
4        0x5809EF65F6969882A139F7A484B8D95C 2022-01-01 12:27:00
...                                     ...                 ...
1091038  0x4BA2F4D793766AE703CC498131301D95 2023-12-21 10:57:00
1091039  0x980634735FC5C16158DC773FBF729F8F 2023-12-21 10:57:00
1091040  0x0FBD82C28836C2E8A5FC83939E32CA1D 2023-12-30 09:28:00
1091041  0xDB4C4A6CBD0B06EEC8DD55F1FF7EEEC3 2023-12-30 09:57:00
1091042  0xF611B2F346D82DBC26676192407A6CE2 2023-12-30 12:53:00

        service_amount_net                          patient_id  \
0                     1925  0xD2B5A46F0FFF14D5209ED49B6215BDA0
1                     4800  0x0A1FF218569A9829DDA53CBDF9FD12F9
2                     1710  0xECA1B4580DFE64AC35678C0EC46CFB56
3                     2040  0xF3F9B8D552B3F35BD9F4E553E1C84AA8
4                     2200  0xF599395DBD681B9A446C26F2DB9E0BF2
...                    ...                                 ...
1091038               1297  0x60932DBC67AD0E50CFCEF91E5A636E67
1091039                445  0x60932DBC67AD0E50CFCEF91E5A636E67
1091040               9726  0x96146D12EDF353CCADC6126BA97E180E
1091041               1764  0x96146D12EDF353CCADC6126BA97E180E
1091042           13212.37  0x96146D12EDF353CCADC6126BA97E180E

                               service_code  \
0        0xCDEA5658E0AD52E1700653CAE2A4928D
1        0x1ECB5F528158D6C0BC98B017169D3E5B
2        0x727B72BA7EB94341537D4FA18BAF9D7C
3        0x5AF4EDF46C78DFB3049268F4C9708407
4        0xE6EEC1C29E25C790C0088B42F82CBA55
...                                     ...
1091038  0x2967289004C10B000F45A9ED3FD42988
1091039  0xBD46A7B2FCD9FC493D8E2EDBE225C9D1
1091040  0x7EE918316FD3AEA062AF090BD4535E4C
1091041  0xDBA2BFA1540877BB3F5969DDDFEBAECF
1091042  0xFC4F19325D9746B630C23610505567C7

                               service_name  is_hospital  year  month  \
0        0x95758EBA87326C4D5DECC8B51A8B9C61            0  2022      1
1        0x48137991AF094338080AC09C4A51E050            0  2022      1
2        0x9F45909133FB97131C44DD00094F781E            0  2022      1
3        0xC311E151328A1118224B8A3F163AD3C0            0  2022      1
4        0x95758EBA87326C4D5DECC8B51A8B9C61            0  2022      1
...                                     ...          ...   ...    ...
1091038  0x28D5058F50AAF33F5CFAD39D1F33E733            0  2023     12
1091039  0x01D029DF0704C6B5891DF7C601181E4D            0  2023     12
1091040  0xC789986064B7B7656159FFB180390DB9            0  2023     12
1091041  0x389978FE61E4BDD814604F07FD9E7823            0  2023     12
1091042  0xFC98F1E83B20FA30BEC6DF7BB4D02D74            0  2023     12

               date      time
0        2022-01-01  12:07:00
1        2022-01-01  12:17:00
2        2022-01-01  12:30:00
3        2022-01-01  12:33:00
4        2022-01-01  12:27:00
...             ...       ...
1091038  2023-12-21  10:57:00
1091039  2023-12-21  10:57:00
1091040  2023-12-30  09:28:00
1091041  2023-12-30  09:57:00
1091042  2023-12-30  12:53:00

[1091043 rows x 12 columns]>

In [5]:
#день недели
from datetime import datetime
import numpy as np
days_ru = {
    0: "ПН",
    1: "ВТ",
    2: "СР",
    3: "ЧТ",
    4: "ПТ",
    5: "СБ",
    6: "ВС"
}
data['weekday_name'] = np.vectorize(lambda x: days_ru[x.weekday()])(data['date'])
data.head()

,service_document_id,account_document_id,service_date,service_amount_net,patient_id,service_code,service_name,is_hospital,year,month,date,time,weekday_name
0,0xE3A4BED668151E271B6680FE5E8772D6,0xFDD38318ED6FC6EC68131DB6671F100C,2022-01-01 12:07:00,1925,0xD2B5A46F0FFF14D5209ED49B6215BDA0,0xCDEA5658E0AD52E1700653CAE2A4928D,0x95758EBA87326C4D5DECC8B51A8B9C61,0,2022,1,2022-01-01,12:07:00,СБ
1,0xD1DD45B19A9195143BE217BD83702901,0x9F7486A2D5FEFFF7453777B1D0592E16,2022-01-01 12:17:00,4800,0x0A1FF218569A9829DDA53CBDF9FD12F9,0x1ECB5F528158D6C0BC98B017169D3E5B,0x48137991AF094338080AC09C4A51E050,0,2022,1,2022-01-01,12:17:00,СБ
2,0xAB000FD6D4A66E6E1523907DEBFEC85D,0x72CBB210256CBF07F48DCACFDA4A3E4C,2022-01-01 12:30:00,1710,0xECA1B4580DFE64AC35678C0EC46CFB56,0x727B72BA7EB94341537D4FA18BAF9D7C,0x9F45909133FB97131C44DD00094F781E,0,2022,1,2022-01-01,12:30:00,СБ
3,0x53A548619940E6DF7D910D17905D1CFD,0x34082776539FC71066087BA9EB78986D,2022-01-01 12:33:00,2040,0xF3F9B8D552B3F35BD9F4E553E1C84AA8,0x5AF4EDF46C78DFB3049268F4C9708407,0xC311E151328A1118224B8A3F163AD3C0,0,2022,1,2022-01-01,12:33:00,СБ
4,0x1FDDAF54CB064A6E27519F2B6DF97B0E,0x5809EF65F6969882A139F7A484B8D95C,2022-01-01 12:27:00,2200,0xF599395DBD681B9A446C26F2DB9E0BF2,0xE6EEC1C29E25C790C0088B42F82CBA55,0x95758EBA87326C4D5DECC8B51A8B9C61,0,2022,1,2022-01-01,12:27:00,СБ

In [6]:
#выходные
#1-выходной, 0-нет

def wknd(x):
    if x == 'СБ' or x == 'ВС':
        return 1
    else:
        return 0
data['weekends'] = np.vectorize(wknd)(data['weekday_name'])
data.head()

,service_document_id,account_document_id,service_date,service_amount_net,patient_id,service_code,service_name,is_hospital,year,month,date,time,weekday_name,weekends
0,0xE3A4BED668151E271B6680FE5E8772D6,0xFDD38318ED6FC6EC68131DB6671F100C,2022-01-01 12:07:00,1925,0xD2B5A46F0FFF14D5209ED49B6215BDA0,0xCDEA5658E0AD52E1700653CAE2A4928D,0x95758EBA87326C4D5DECC8B51A8B9C61,0,2022,1,2022-01-01,12:07:00,СБ,1
1,0xD1DD45B19A9195143BE217BD83702901,0x9F7486A2D5FEFFF7453777B1D0592E16,2022-01-01 12:17:00,4800,0x0A1FF218569A9829DDA53CBDF9FD12F9,0x1ECB5F528158D6C0BC98B017169D3E5B,0x48137991AF094338080AC09C4A51E050,0,2022,1,2022-01-01,12:17:00,СБ,1
2,0xAB000FD6D4A66E6E1523907DEBFEC85D,0x72CBB210256CBF07F48DCACFDA4A3E4C,2022-01-01 12:30:00,1710,0xECA1B4580DFE64AC35678C0EC46CFB56,0x727B72BA7EB94341537D4FA18BAF9D7C,0x9F45909133FB97131C44DD00094F781E,0,2022,1,2022-01-01,12:30:00,СБ,1
3,0x53A548619940E6DF7D910D17905D1CFD,0x34082776539FC71066087BA9EB78986D,2022-01-01 12:33:00,2040,0xF3F9B8D552B3F35BD9F4E553E1C84AA8,0x5AF4EDF46C78DFB3049268F4C9708407,0xC311E151328A1118224B8A3F163AD3C0,0,2022,1,2022-01-01,12:33:00,СБ,1
4,0x1FDDAF54CB064A6E27519F2B6DF97B0E,0x5809EF65F6969882A139F7A484B8D95C,2022-01-01 12:27:00,2200,0xF599395DBD681B9A446C26F2DB9E0BF2,0xE6EEC1C29E25C790C0088B42F82CBA55,0x95758EBA87326C4D5DECC8B51A8B9C61,0,2022,1,2022-01-01,12:27:00,СБ,1

In [7]:
#праздники
#1-праздник, 0-нет
def hld(x):
    m = [
        '2022-01-01',
        '2022-01-02',
        '2022-01-03',
        '2022-01-04',
        '2022-01-05',
        '2022-01-06',
        '2022-01-07',
        '2022-01-08',
        '2022-02-23',
        '2022-03-08',
        '2022-05-01',
        '2022-05-09',
        '2022-06-12',
        '2022-11-04',
        '2022-05-03',
        '2022-05-10',
        '2022-03-07',
        '2023-01-01',
        '2023-01-02',
        '2023-01-03',
        '2023-01-04',
        '2023-01-05',
        '2023-01-06',
        '2023-01-07',
        '2023-01-08',
        '2023-02-23',
        '2023-03-08',
        '2023-05-01',
        '2023-05-09',
        '2023-06-12',
        '2023-11-04',
        '2023-02-24',
        '2023-05-08'
    ]
    if x in m:
        return 1
    else:
        return 0
data['holidays'] = np.vectorize(hld)(data['date'].astype(str))

In [8]:
data.columns

Index(['service_document_id', 'account_document_id', 'service_date',
       'service_amount_net', 'patient_id', 'service_code', 'service_name',
       'is_hospital', 'year', 'month', 'date', 'time', 'weekday_name',
       'weekends', 'holidays'],
      dtype='object')

In [9]:
data['service_code'].value_counts().keys()

Index(['0xBD46A7B2FCD9FC493D8E2EDBE225C9D1',
       '0xC348428D50CD9C4624B157715093ACEE',
       '0xCDEA5658E0AD52E1700653CAE2A4928D',
       '0x332E8D3220A5317B23558A5E79CE00E4',
       '0x0C06FE9D8320596C34F48E35DFFC46AF',
       '0x26231B827CA6C579A6A953511729C869',
       '0x2E3501D14A7717F3DAB1781E96626B33',
       '0x198C4D61F4CD2887D612EE1F56705716',
       '0x6C73CDEE350763C4670140261DE1682A',
       '0x1D0DED6FF9291FB8D54115014D41038B',
       ...
       '0x34550D9F86B74F6885E46B35819F3130',
       '0x20FDC96DECA6558E1F7AFD65250617E6',
       '0x3268AD3FBB0A4A7CFB970EC442AF0E39',
       '0x728327D21F77F10C4F185832A92CFE57',
       '0xBBE55F87F02433BB73A802F354E72EAD',
       '0xAF569AD93D17687725EDD9143F8C8C7A',
       '0x568FF715DB8FE40C0B9B3DA180C4C66C',
       '0x59485D2364233C57AF57504FAA904325',
       '0x07E45834E7BFF859B639C94CDBD4E326',
       '0xC2DDC434FD854157F7611B0164A900F8'],
      dtype='object', name='service_code', length=5232)

In [11]:
df_sc = pd.DataFrame(columns = ['code', 'mean', 'median', 'std'])
for sc in data['service_code'].value_counts().keys().astype(str):
    t = data[data['service_code'] == sc]['service_amount_net'].astype(float)
    df_sc.loc[len(df_sc)] = [sc, t.mean(), np.median(t), t.std()]
    break
df_sc.head()

                                 code        mean  median         std
0  0xBD46A7B2FCD9FC493D8E2EDBE225C9D1  438.852896   410.4  167.145487

In [17]:
df_sn = pd.DataFrame(columns = ['code', 'mean', 'median', 'std'])
for sn in data['service_name'].value_counts().keys().astype(str):
    t = data[data['service_name'] == sn]['service_amount_net'].astype(float)
    df_sn.loc[len(df_sn)] = [sn, t.mean(), np.median(t), t.std()]
df_sn.head()

                                 code         mean  median          std
0  0x95758EBA87326C4D5DECC8B51A8B9C61  2736.985463  2208.0  2045.034290
1  0x01D029DF0704C6B5891DF7C601181E4D   438.852896   410.4   167.145487
2  0x5D533C5A2B92E32876D568371E6F4D11   592.949099   561.0   238.063995
3  0xA7AB68E942204E8F7B65D9BE0FF048F9  3922.883921  3736.8  1502.594652
4  0x446CFFEA90575A46253EED6E407FCBBA   346.153144   316.0   153.030132

In [3]:
print("git test")

git test